In [16]:
import pandas as pd
import glob
import os

In [17]:
ratings = pd.read_csv('/content/sample_data/BX-Book-Ratings.csv', error_bad_lines=False, delimiter=';', encoding = 'ISO-8859-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
books = pd.read_csv('/content/sample_data/BX-Books.csv', error_bad_lines=False, delimiter=';', encoding = 'ISO-8859-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [50]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [19]:
data = pd.merge(books, ratings, on='ISBN', how='inner')

In [20]:
data = data.iloc[:-990000 , :]

In [21]:
data

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0
...,...,...,...,...,...,...,...,...,...,...
41131,2266084372,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,Pocket,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,64373,8
41132,2266084372,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,Pocket,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,106954,0
41133,2266084372,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,Pocket,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,124617,0
41134,2266084372,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,Pocket,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,131441,6
41135,2266084372,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,Pocket,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,http://images.amazon.com/images/P/2266084372.0...,165558,9

In [22]:
data=data.drop(columns=['ISBN','Publisher','Image-URL-S','Image-URL-L'])

In [24]:
data

,Book-Title,Book-Author,Year-Of-Publication,Image-URL-M,User-ID,Book-Rating
0,Classical Mythology,Mark P. O. Morford,2002,http://images.amazon.com/images/P/0195153448.0...,2,0
1,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,8,5
2,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,Clara Callan,Richard Bruce Wright,2001,http://images.amazon.com/images/P/0002005018.0...,41385,0
...,...,...,...,...,...,...
41131,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,http://images.amazon.com/images/P/2266084372.0...,64373,8
41132,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,http://images.amazon.com/images/P/2266084372.0...,106954,0
41133,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,http://images.amazon.com/images/P/2266084372.0...,124617,0
41134,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,http://images.amazon.com/images/P/2266084372.0...,131441,6
41135,Pourquoi j'ai mangÃƒ?Ã‚Â© mon pÃƒ?Ã‚Â¨re,Lewis,2000,http://images.amazon.com/images/P/2266084372.0...,165558,9

In [25]:
userRatings = data.pivot_table(index=['User-ID'],columns=['Book-Title'],values='Book-Rating')
userRatings.head()

Book-Title,101 Dalmatians,11th Hour,"A Call to Conscience : The Landmark Speeches of Dr. Martin Luther King, Jr.",A Fountain Filled With Blood (A Rev. Clare Ferguson Mystery),A Judgement in Stone,A Kiss Remembered,A Man in Full,A Monk Swimming,A Painted House,A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series),...,Wie Barney es sieht.,Wild Animus,Wish You Well,Wolf Moon,Women on the Case,Wouldn't Take Nothing for My Journey Now,Year's Best Fantasy (Year's Best Fantasy),You Be the Jury #02,You Can Surf the Net: Your Guide to the World of the Internet,Your Erroneous Zones
User-ID,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
corrMatrix = userRatings.corr(method='pearson', min_periods=20)
corrMatrix.head()

Book-Title,101 Dalmatians,11th Hour,"A Call to Conscience : The Landmark Speeches of Dr. Martin Luther King, Jr.",A Fountain Filled With Blood (A Rev. Clare Ferguson Mystery),A Judgement in Stone,A Kiss Remembered,A Man in Full,A Monk Swimming,A Painted House,A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series),...,Wie Barney es sieht.,Wild Animus,Wish You Well,Wolf Moon,Women on the Case,Wouldn't Take Nothing for My Journey Now,Year's Best Fantasy (Year's Best Fantasy),You Be the Jury #02,You Can Surf the Net: Your Guide to the World of the Internet,Your Erroneous Zones
Book-Title,,,,,,,,,,,,,,,,,,,,,
101 Dalmatians,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11th Hour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"A Call to Conscience : The Landmark Speeches of Dr. Martin Luther King, Jr.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Fountain Filled With Blood (A Rev. Clare Ferguson Mystery),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Judgement in Stone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
myRatings = data.loc[data['User-ID']==].dropna()
myRatings

Empty DataFrame
Columns: [Book-Title, Book-Author, Year-Of-Publication, Image-URL-M, User-ID, Book-Rating]
Index: []

In [42]:
myRatings = myRatings.set_index("Book-Title")
myRatings.index[1]

'The Five People You Meet in Heaven'

In [44]:
similar_candidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print("Adding similar book for " + myRatings.index[i] + "...")
    # retrieve similar movies to this one that I rated
    similar_movies = corrMatrix[myRatings.index[i]].dropna()
    # scale its similarity by how well I rated this movie
    similar_movies = similar_movies.map(lambda x: x * myRatings.iloc[i]['Book-Rating'])
    # add the score to the list of similar candidates
    similar_candidates = similar_candidates.append(similar_movies)
    
print("Sort recommendations...")
similar_candidates.sort_values(inplace = True, ascending = False)
similar_candidates.head(10)

Adding similar book for Clara Callan...
Adding similar book for The Five People You Meet in Heaven...
Adding similar book for Life of Pi...
Adding similar book for She's Come Undone (Oprah's Book Club)...
Adding similar book for The Red Tent (Bestselling Backlist)...
Adding similar book for Along Came a Spider (Alex Cross Novels)...
Sort recommendations...

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

The Five People You Meet in Heaven                       9.000000
The Red Tent (Bestselling Backlist)                      7.000000
Life of Pi                                               6.000000
Congo                                                    5.265865
Chicken Soup for the Soul (Chicken Soup for the Soul)    4.140151
Bleachers                                                3.886938
Along Came a Spider (Alex Cross Novels)                  3.885420
Black and Blue                                           3.594737
Postmortem                                               3.482266
Vinegar Hill (Oprah's Book Club (Paperback))             3.409692
dtype: float64

In [40]:
similar_candidates = similar_candidates.groupby(similar_candidates.index).sum()
similar_candidates = similar_candidates.drop(similar_candidates.loc[similar_candidates.index.isin(myRatings.index)].index)

IndexError: ignored

In [ ]:
similar_candidates.sort_values(inplace = True, ascending = False)
similar_candidates.head(10)

In [ ]:
compression_opts = dict(method='zip', archive_name='outCorr.csv')  
corrMatrix.to_csv('out.zip', index=True, compression=compression_opts)

In [ ]:
corrMatrix.to_pickle("./corrMatrix.pkl")